html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica';
  font-weight: 100;
  line-height: 1.5;
}

div {
  box-sizing: border-box;
  padding: 15px;
}

.parallax {
  /* The image used */
  background-image: url('../imgs/parallex.jpg');
  background-size: cover;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* Full height */
  /*height: 600px;*/
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax .inside_parallex {
  position: absolute;
  transform: translateX(50%) translateY(50%);
  color: white;
}

.parallax .inside_parallex h1 {
  font-size: 3em;
  border-bottom: 0.5px solid white;
}

.parallax .inside_parallex p {
  font-size: 1.5em;
}

.arrow_down {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 25px;
  background-color: #495057;
  color: #FFFFFF;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
}

.arrow_down a {
  color: white;
}

/* menu */
/*
#navbar {
  background-color: #333;
  float: right;
  width: 100px;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
*/
.profile_container {
  height: auto;
  display: grid;
  grid-template: 150px auto /repeat(5, minmax(200px, 1fr));
  grid-gap: 5px;
  height: 100%;
  padding-bottom: 20px;
  grid-template-areas:
    ". pf pf pf nv"
    ". ab pp dt nv"
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.profile_container div {
  background-color: white;
}

.nav {
  grid-area: nv;
  padding: 0;
}

.profile {
  grid-area: pf;
  align-content: center;
  text-align: center;
  line-height: 0.8;
  height: auto;
  padding: 10px;
}

h2 {
  color: #59bab7;
  font-weight: lighter;
  font-size: 45px;
  margin: 0;
  padding: 0;
}

.profile h2 span {
  color: grey;
  font-weight: lighter;
  font-size: 18px;
}

.about_me {
  grid-area: ab;
}

.prof_pic {
  grid-area: pp;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}

.prof_pic img {
  height: auto;
  max-width: 80%;
  border-radius: 50%;
  border: 10px solid #f3efe0;
}

.details {
  grid-area: dt;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
  color: #59bab7;
  margin: 0;
  padding: 0;
}

.experience_container {
  height: auto;
  display: grid;
  grid-template: 200px 70px 180px 180px 180px/repeat(5, minmax(200px, 1fr));
  grid-gap: 5px;
  height: 100%;
  background-color: #F3EFE0;
  padding: 10px;
  grid-template-areas:
    ". a a a ."
    ". z z z ."
    ". b c c ."
    ". d e e ."
    ". f g g ."
  ;
}

.experience_container div {}

.experience_container .exp0 {
  grid-area: z;
}

.experience_container .exp1, .abil_head {
  grid-area: a;
  box-sizing: border-box;
  text-align: center;
}

.experience_container .exp2 {
  grid-area: b;
}

.experience_container .exp3 {
  grid-area: c;
}

.experience_container .exp4 {
  grid-area: d;
}

.experience_container .exp5 {
  grid-area: e;
}

.experience_container .exp6 {
  grid-area: f;
}

.experience_container .exp7 {
  grid-area: g;
}

.abilities {
  height: auto;
  display: grid;
  grid-template: 200px 60px 200px 30px 60px 100px 30px 60px 200px/minmax(200px, 1fr) minmax(300px, 1.5fr) minmax(300px, 1.5fr) minmax(200px, 1fr);
  grid-gap: 5px;
  height: 100%;
  background-color: #white;
  padding: 10px;
  grid-template-areas:
    ". ah ah ."
    ". s s ."
    ". s1 s2 ."
    ". hr1 hr1 ."
    ". l l ."
    ". l1 l2  ."
    ". hr2 hr2 ."
    ". t t  ."
    ". t1 t2  ."
  ;
}

.abilities div {}

.abilities .abil_head {
  grid-area: ah;
}

.abilities .hr1 {
  grid-area: hr1;
}

.abilities .hr2 {
  grid-area: hr2;
}

.abilities .skills {
  grid-area: s;
}

.abilities table {
  width: 100%;
  border-collapse: collapse;
}

.abilities table td {
  padding: 5px 0 5px 0;
}

.abilities table td:nth-child(even) {
  width: 40%;
}

.abilities table td i {
  color: #59bab7;
}

.abilities table tr:hover {
  background-color: #E5E5E5;
}

.abilities .skills1 {
  grid-area: s1;
}

.abilities .skills2 {
  grid-area: s2;
}

.abilities .languages {
  grid-area: l;
}

.abilities .languages1 {
  grid-area: l1;
}

.abilities .languages2 {
  grid-area: l2;
}

.abilities .tools {
  grid-area: t;
}

.abilities .tools1 {
  grid-area: t1;
}

.abilities .tools2 {
  grid-area: t2;
}

@keyframes stars {
  from {
    font-size: 1em
  }

  to {
    font-size: 1.2em
  }
}

.abilities table tr:hover td i {
  animation-duration: 0.5s;
  animation-name: stars;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.socialmedia_container {
  height: auto;
  display: grid;
  grid-template: 200px 70px 280px /repeat(5, minmax(200px, 1fr));
  grid-gap: 5px;
  height: 100%;
  background-color: #F3EFE0;
  padding: 10px;
  grid-template-areas:
    ". sm1 sm1 sm1 ."
    ". sm2 sm2 sm2 ."
    ". sm3 sm3 sm3 ."
  ;
}

.socialmedia_container div {
}

.socialmedia_container .socialmedia_1 {
  grid-area: sm1;
  text-align: center;
}

.socialmedia_container .socialmedia_2 {
  grid-area: sm2;
  text-align: center;
  color: #59bab7;
  font-weight: lighter;
  font-size: 1.4em;
  padding: 0;
}

.socialmedia_container .socialmedia_3 {
  grid-area: sm3;
}

.contact {
  background-color: #434242;
  height: auto;
  display: grid;
  grid-template: 200px 200px 30px/minmax(200px, 1fr) minmax(300px, 1.5fr) minmax(300px, 1.5fr) minmax(200px, 1fr);
  grid-gap: 5px;
  height: 100%;
  background-color: #white;
  padding: 10px;
  grid-template-areas:
    ". ch ch ."
    ". cdiv1 cdiv2 ."
    ". chr1 chr1 ."
  ;
}

.contact div {}

.contact_head {
  grid-area: ch;
  text-align: center;
}

.contact_head p {
  font-size: 1.4em;
}

.conthr1 {
  grid-area: chr1;
}

.contact_div1 {
  grid-area: cdiv1;
}

.contact_div1 a {
  color: #b5b5b5;
  text-decoration: none;
}

.contact_div1 a:hover {
  color: white;
}

.contact_div1 ul {
  list-style-type: none;
  padding: 0;
}

.contact_div1 ul li {
  margin-top: 20px;
  color: #b5b5b5;
}

.contact_div12 {
  grid-area: cdiv2;
}

.contact h2 {
  color: white;
}

.contact .contact_head p {
  color: grey;
}
